/* Медиазапрос на ширину 1200 */

@media only screen and (max-width: 1200px) {
    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }

    p {
        text-align: justify;
    }
}

/* Медиазапрос на ширину 950 */

@media only screen and (max-width: 950px) {
    .img-fieldAbout {
        display: none;
    }

    .row.about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-StartAbout {
        margin-top: 30px;
    }
}

/* Медиазапрос на ширину 750 */

@media only screen and (max-width: 750px) {
    .navbar-nav {
        font-size: 14px;
    }

    .logotip {
        width: 134px;
        height: 46px;
    }

    .header {
        height: 70px;
    }

    p {
        font-size: 14px;
        text-align: justify;
    }

    .my-6 {
        margin-top: 47px;
        margin-bottom: 35px;
        font-size: 36px;
    }     

    .img-fieldAbout {
        display: none;
    }

    .row.about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-StartAbout {
        margin-top: 30px;
    }

    ol {
        font-size: 14px;
    }

    .rool-text {
        padding-left: 1rem;
    }

    .container1-lvl {
        display: none;
    }

    .container2-lvl {
        display: none;
    }

    #btn-StartGameMobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        border: 1px solid #000;
        display: flex;
        width: 296px;
        height: 52px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .container3-lvl {
        display: flex;
        flex-direction: row;
        align-items: center;
    }    

    .footer {
        height: 45px;
    }

    .fieldGame {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 296px;
        height: 296px;
    }

    .btn-StartGame {
        display: none;
    }

    .text-step, .text-timer {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .text-step-s, .text-timer-t, .text-step-x, .text-timer-x {
        margin-left: 0px;
    }
    
    .gameStatistic.row.flex-wrap {
        display: block;
    }

    #cl3 {
        margin-left: auto;
        margin-right: auto;
        min-width: 272px;
        padding-left: 0;
        padding-right: 0;
    }

    .container-st {
        height: 37px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .game {
        margin-bottom: 26px;
    }
}